<!-- <html>
    <head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    </head>
        <body>
            <h1>Hello from Your name!</h1>
<div id="webchat"/>
<script src="https://cdn.jsdelivr.net/npm/rasa-webchat/lib/index.min.js"></script>

// Or you can replace latest with a specific version
<script>
  WebChat.default.init({
    selector: "#webchat",
    customData: {"language": "en"}, // arbitrary custom data. Stay minimal as this will be added to the socket
    socketUrl: "https://rasaflask.herokuapp.com/",
    socketPath: "/socket.io/",
    title: "your name",
    subtitle: "first bot ever!",

  })
</script>

        </body>
</html> -->

<html> 
<head>
  <link rel="stylesheet" href="https://npm-scalableminds.s3.eu-central-1.amazonaws.com/@scalableminds/chatroom@master/dist/Chatroom.css" />
</head>
<body>
  <div class="chat-container"></div>
  <script src="https://npm-scalableminds.s3.eu-central-1.amazonaws.com/@scalableminds/chatroom@master/dist/Chatroom.js"/></script>
  <script type="text/javascript">
      var chatroom = new window.Chatroom({
      host: "https://rasaflask.herokuapp.com/",
      title: "Chat with Me!",
      container: document.querySelector(".chat-container"),
      welcomeMessage: "Hi. How may I help you?",
      speechRecognition: "en-US",
      voiceLang: "en-US"
      });
      chatroom.openChat();
  </script>
</body>
</html> 
